@model IEnumerable<JCAirbnb.Models.Property>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var property in Model)
{
    <div>
        <a asp-controller="" asp-action="Property" asp-route-id="@property.Id">@property.Id</a>
    </div>
}
